<div> 
  <h1>Integrantes</h1>
  <div class="integrantes">
    <div class="alunos">
      <img src="/assets/Davyd.jpg">
      <div class="midias">
        <a target="_blank" href="https://www.instagram.com/davyd_al/"><img class="midia" src="/assets/instagram.png"></a>
        <a target="_blank" href="https://www.linkedin.com/in/davyddealmeidasantosti/"><img class="midia" src="/assets/linkedin.jpg"></a>
      </div>

      <h4>Davyd de Almeida Santos</h4>
      <h4>Ciência da Computação - 7°</h4>
      <h4>Aluno - UNIUAM</h4>
    </div>
    <div class="alunos">
      <img src="/assets/wallace.jpg">
      <div class="midias">
        <a target="_blank" href="https://www.instagram.com/wallaceferreira_/"><img class="midia" src="/assets/instagram.png"></a>
        <a target="_blank" href="https://www.linkedin.com/in/wallace-ferreira-456939184/"><img class="midia" src="/assets/linkedin.jpg"></a>
      </div>
      <h4>Wallace Ferreira da Silva </h4>
      <h4>Ciência da Computação - 7°</h4>
      <h4>Aluno - UNIUAM</h4>
  </div>
  </div>
</div>