<div>
  <h1>Digite o nome dos participantes e seus números</h1>

  <div class="participante">
    <div class="particpante__name" *ngFor="let participante of participantes">
      Participante: 
      <input class="particpante__name-input" [(ngModel)]="participante.nome">
      Numeros:
      <input type="number" [(ngModel)]="participante.number_1" class="num" min="1" max="60" required />
      <input type="number" [(ngModel)]="participante.number_2" class="num" min="1" max="60" required />
      <input type="number" [(ngModel)]="participante.number_3" class="num" min="1" max="60" required />
      <input type="number" [(ngModel)]="participante.number_6" class="num" min="1" max="60" required />
      <input type="number" [(ngModel)]="participante.number_4" class="num" min="1" max="60" required />
      <input type="number" [(ngModel)]="participante.number_5" class="num" min="1" max="60" required />
    </div>

    <div class="particpante__name">
      Quantidade de jogos:<input type="number" [(ngModel)]="qtdSorteios"  class="num" min="1" max="20"/>
      <button type="button" name="button" (click)="Sortear()">Sortear</button>
    </div>
    
  </div>


  <div class="numeros-sorteados">
    <li *ngFor="let sorteio of sorteios">
      Jogo: {{sorteio}}
    </li>
  </div>
</div>