<div>
<h1></h1>

  <div class="participante">
    Digite o nome do 
    <div class="particpante__name">Nome Participante 1:
      <input class="particpante__name-input">
    </div>
    <input type="number" class="participante__n1"/>
    <input type="number" class="participante__n2"/>
    <input type="number" class="participante__n3"/>
    <input type="number" class="participante__n4"/>
    <input type="number" class="participante__n5"/>
    <input type="number" class="participante__n6"/>

  </div>
</div>